<!DOCTYPE html>
<html lang="en" id="CVPage">
<head>
    <meta charset="utf-8">
    <title>Truong Luu</title>

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>

<div id="root"></div>

<script type="text/javascript">var data = '{{data}}';</script>

<script type="text/javascript" src="assets/js/libs/react.min.js"></script>
<script type="text/javascript" src="assets/js/libs/react-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script type="text/babel" src="assets/js/app.js"></script>
</body>
</html>